.syrupContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
}

.syrupCard {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.syrupImage {
  width: 13rem;
  height: auto;
  object-fit: cover;
}

.syrupDetails {
  padding: 1rem;
}

.syrupDetails h1 {
  font-size: 1.25rem;
}

.syrupDetails p {
  margin: 0.25rem 0;
  font-size: 0.875rem;
}

/* For larger screens, adjust to a multi-column layout */
@media (min-width: 37rem) {
  .syrupContainer {
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  }

  .syrupCard {
    flex-direction: row;
  }

  .syrupImage {
    width: 9rem;
  }
}
